.container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.main {
  min-height: var(--full-height);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.section {
  width: 100%;
  min-height: var(--full-height);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 24vh;
  padding-right: clamp(24px, 6vmin, 6vmin);
  padding-left: clamp(24px, 6vmin, 6vmin);
  padding-bottom: 24vh;
}

/*ローディング*/

.loading {
  width: 100vw;
  height: var(--full-height);
  position: fixed;
  background-color: var(--color-fill);
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: clamp(24px, 6vmin, 6vmin);
}

.loading-text,
#counter {
  font-size: 1rem;
  line-height: 1;
  color: var(--color-fill-secondary);
}

/* メイン */

.title {
  font-size: clamp(20px, 11vw, 88px);
  line-height: 1;
  font-family: "InstrumentSerifeneral";
  color: var(--color-emphasis);
}
.title-small {
  font-size: 48px;
  line-height: 1;
  font-family: "InstrumentSerifeneral";
  color: var(--color-emphasis);
}

p,
a,
span,
summary {
  font-size: 1rem;
  line-height: 1.5;
}
a,
summary {
  text-decoration: none;
  cursor: pointer;
}
details > a {
  display: block;
  margin-inline-start: 1rem;
}

.window-show {
  position: relative;
}

.document-open::before {
  content: "📄 ";
}
.document-open {
  color: var(--color-emphasis);
}
.document-close::before {
  content: "📄 ";
}
/*あとで消す*/
.document::before {
  content: "📄 ";
}
.link::before {
  content: "🔗 ";
}
a:hover,
summary:hover {
  color: var(--color-emphasis);
}
s {
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
}

.tab-title {
  font-size: 1rem;
}

.tab-close {
  font-size: 18px;
  height: 26px;
  width: 26px;
  text-align: center;
}
.window > .tab {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #dfe3e9;
  width: 100%;
  height: 26px;
  padding-left: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-width: 100vw;
    height: 100vh;
    min-height: 100vh;
    padding: 40px 16px 16px 16px;
    overflow: scroll;
  }
}
@media only screen and (min-width: 600px) {
  .window {
    top: 50%;
    left: 60%;
    transform: translate3d(-60%, -50%, 0);
    position: fixed;
    width: 100%;
    min-width: 260px;
    max-width: 400px;
    height: auto;
    padding: 40px 16px 16px 16px;
  }
}
