/* シークバーのスタイル */

:root{
  --color-text-secondary: #ddd;
  --color-text: #000;
}

.seek-sensor {
  display: flex;
  align-items: center;
  height: 50px;
}

.seek-bar {
  width: 100%;
  height: 8px;
  border-radius: 100px;
  margin: 0;
  padding: 0;
  background: var(--color-text-secondary);
  transition: height 0.2s;
  overflow: hidden;
}
.seekbar-fill {
  width: 0;
  height: 100%;
  border-radius: 100px;
  margin: 0;
  background: var(--color-text);
}
