/*
Satoshi (Variable)
https://www.fontshare.com/fonts/satoshi
*/
@font-face {
  font-family: "Satoshi";
  src: url("Satoshi-Variable.woff2") format("woff2");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

/*
General Sans
https://www.fontshare.com/fonts/general-sans
*/
@font-face {
  font-family: "InstrumentSerif";
  src: url("InstrumentSerif-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

/*
General Sans
https://www.fontshare.com/fonts/general-sans
*/
@font-face {
  font-family: "GeneralSans";
  src: url("GeneralSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
